/* General Styles */
:root {
    --white: #fff;
    --background: #fdfdfd;
    --light-grey: #c7c7c7;
    --grey: #7e7e7e;
    --black: #313131;
    --purple: #ae9ecd;
    --blue: #b7dcf4;
    --pink: #f3b7d6;
}

::-moz-selection {
    color: var(--white);
    background: var(--purple);
  }
  
  ::selection {
    color: var(--white);
    background: var(--purple);
  }

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    color: var(--black);
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    min-height: 100vh;
    max-width: 100vw;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

main {
    flex-grow: 1;
}

main:not(.home-body>main) {
    padding: 12px 24px;
}

header,
footer {
    padding: 18px 16px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.hidden {
    display: none;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h2:not(.sr-only) {
    font-weight: 300;
    font-style: italic;
    color: var(--purple);
    font-size: 2.5rem;
    margin: 24px 0;
}

.highlight {
    color: var(--purple);
}

a.highlight {
    text-decoration: underline;
    transition: all 0.5s ease;
}

section.content a.highlight {
    font-weight: 600;
}

a.highlight:hover {
    color: var(--light-grey);
}

.center-text {
    text-align: center;
}

/* Header Styles */

header {
    display: fixed;
    background-color: var(--white);
    box-shadow: 1px 1px 10px 1px rgba(49,49,49,0.14);
    -webkit-box-shadow: 1px 1px 10px 1px rgba(49,49,49,0.14);
    -moz-box-shadow: 1px 1px 10px 1px rgba(49,49,49,0.14);
    text-align: center;
    z-index: 100;
}

.mobile-menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.mobile-menu > a {
    display: flex;
    align-items: center;
    gap: 16px;
}

header img {
    width: 60px;
    max-width: 100%;
    flex-shrink: 1;
    display: block;
}

h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.menu-btn,
nav {
    color: var(--purple);
}

.menu-btn {
    font-size: 1.75rem;
}

.menu-btn:hover {
    cursor: pointer;
}

nav {
    margin-top: 6px;
    transition: opacity 1s;
}

nav li {
    font-size: 1.5rem;
    border-top: 1px solid var(--light-grey);
    padding: 16px;
    font-weight: 300;
}

nav li:first-of-type {
    border: 0;
}

nav li:last-of-type {
    padding-bottom: 0;
}

/* Footer Styles */

footer {
    background-color: var(--black);
    color: var(--white);
    z-index: 10;
}

footer > div.container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

footer a {
    display: block;
}

footer i {
    font-size: 1.75rem;
    transition: color 0.25s ease;
}

footer i:hover {
    color: var(--purple);
}

/* Homepage styles */

.home-screen {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    padding: 0 24px;
}

.home-screen p:first-of-type {
    margin: 50px 0 0 0;
}

.home-screen p:last-of-type {
    margin-top: 16px;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
      }
      
      70% {
        transform: scale(2);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
      }
      
      100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
      }
}

/* Waves animation */

.home-body {
    overflow: hidden;
    max-height: 100vh;
}

.blue-wave {
    background-color: var(--blue);
    height: 55vh;
}

.pink-wave {
    background-color: var(--pink);
    height: 50vh;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 1s;
    mix-blend-mode: multiply;
    z-index: -10;
}

.wave::after {
    content: '';
    position: absolute;
    width: 300vw;
    height: 300vw;
    top: -65vw;
    left: 50%;
    border-radius: 44%;
    transform: translate(-50%, -75%);
}

.blue-wave::after {
    background: rgba(253, 253, 253, 1);
    animation: waves 25s linear infinite;
}

.pink-wave::after {
    background: rgba(253, 253, 253, 1);
    animation: waves 17s linear infinite;
}

@keyframes waves {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}

/* About page */

.my-info {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: flex-start;
    line-height: 1.5rem;
    letter-spacing: 0.15px;
    width: fit-content;
}

.my-info img {
    flex-shrink: 1;
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgb(174, 158, 205);
    -webkit-box-shadow: 0 0 0 0 rgb(174, 158, 205);
    -moz-box-shadow: 0 0 0 0 rgb(174, 158, 205);
    animation: beat 1.5s infinite;
}

@keyframes beat {
    0% {
        box-shadow: 0 0 0 0 rgba(174, 158, 205, 0.75);
    }
    
    70% {
        box-shadow: 0 0 0 17px rgba(174, 158, 205, 0);
    }
    
    100% {
        box-shadow: 0 0 0 0 rgba(174, 158, 205, 0);
    }
}

/* Contact Page */

form {
    margin: 36px 0;
}

form,
.contact-info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 18px;
}

form input,
form textarea {
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    padding: 12px;
    color: var(--purple);
    background-color: var(--background);
}

form textarea {
    height: calc(1.15*16px*5);
}

form input:focus,
form textarea:focus {
    outline: none;
}

::placeholder {
    color: var(--light-grey);
    font-weight: 300;
    opacity: 1;
}

:-ms-input-placeholder {
    color: var(--light-grey);
    font-weight: 300;
}

::-ms-input-placeholder {
    color: var(--light-grey);
    font-weight: 300;
}

form button {
    background-color: var(--purple);
    color: var(--white);
    padding: 12px 24px;
    border-radius: 5px;
    border: 0;
    width: fit-content;
    margin: auto;
    transition: all 0.5s ease;
}

form button:hover {
    cursor: pointer;
    background-color: var(--black);
}

/* Projects page */

.projects {
    margin: 12px auto 36px;
}

.project {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 18px;
    box-shadow: 1px 1px 10px 1px rgba(49,49,49,0.1);
    -webkit-box-shadow: 1px 1px 10px 1px rgba(49,49,49,0.1);
    -moz-box-shadow: 1px 1px 10px 1px rgba(49,49,49,0.1);
    background-color: var(--white);
    transition: all 0.5s ease;
}

.project img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 50% 0;
}

.project-title {
    text-align: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    color: var(--grey);
    font-style: italic;
    transition: all 0.5s ease;
}

.project-title h3 {
   font-style: italic;
}

.project-title h3,
.project-title i {
    transition: all 0.5s ease;
}

.project:hover h3,
.project:hover i {
    color: var(--purple);
}

/* Project details page */

section.content div.slideshow {
    margin: 24px 24px 48px;
    padding-left: 12px;
}

.slide p.notice,
div.single-img p.notice {
    font-size: 0.8rem;
    margin-bottom: 0;
    color: var(--light-grey);
    text-transform: uppercase;
    font-style: normal;
    text-align: center;
}

span.job {
    color: var(--purple);
    font-weight: 700;
    mix-blend-mode: multiply;
}

.project-btn {
    font-size: 1.25rem;
    background-color: var(--white);
    color: var(--grey);
    text-transform: uppercase;
    font-weight: 400;
    padding: 12px 24px;
    border-radius: 20px;
    box-shadow: 0 0 0 0 rgba(255,255,255, 1);
    -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 1);
    -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 1);
    transform: scale(1);
    animation: pulse 1.5s infinite;
    transition: all 0.5s ease;
}

.project-btn:hover {
    color: var(--white);
    background-color: var(--purple);
}

.sidebar {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column-reverse;
    gap: 18px;
}

.table {
    color: var(--purple);
    background-color: var(--white);
    padding: 4px 18px;
    box-shadow: 1px 1px 10px 1px rgba(199, 199, 199, 0.2);
    -webkit-box-shadow: 1px 1px 10px 1px rgba(199, 199, 199, 0.2);
    -moz-box-shadow: 1px 1px 10px 1px rgba(199, 199, 199, 0.2);
    font-size: 1.1rem;
}

.table li {
    text-transform: uppercase;
    margin: 16px 0;
}

.table li a {
    transition: all 0.5s ease;
}

.table li a:hover {
    color: var(--black);
}

.project-link a {
    color: var(--white);
    text-align: center;
    padding: 10px 12px;
    display: block;
    font-size: 1rem;
    letter-spacing: 0.5px;
    background-color: var(--purple);
    transition: all 0.5s ease;
}

.project-link:hover a {
    background-color: var(--black);
    color: var(--white);
}

.site-link a {
    margin-bottom: 12px;
}

.repo-link a {
    background-color: var(--grey);
}

.project-summary {
    display: flex;
    gap: 8px;
    justify-content: space-around;
    flex-wrap: wrap;
}

p.title {
    text-transform: uppercase;
    margin: 18px 0 6px 0;
    font-weight: 600;
    font-size: 0.9rem;
    color: var(--purple);
}

div.project-summary p:not(p.title) {
    margin: 0;
    color: var(--grey);
    font-weight: 300;
    font-size: 1rem;
    font-style: italic;
}

.content {
    margin-bottom: 48px;
}

.content h3 {
    color: var(--grey);
    font-weight: 500;
}

.content h4 {
    color: var(--purple);
    font-weight: 400;
}

.content p {
    font-size: 1rem;
    line-height: 1.5;
}

.stack-img {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.stack-img svg {
    fill: var(--light-grey);
    height: 50px;
    transition: all 0.3s ease;
}

.fill-white {
    fill: var(--white);
    transition: all 0.3s ease;
}

.fill-bw-grey {
    fill: #afafaf;
    transition: all 0.3s ease;
}

.fill-light-grey {
    fill: var(--light-grey);
    transition: all 0.3s ease;
}

.fill-grey {
    fill: var(--grey);
    transition: all 0.3s ease;
}

.fill-black {
    fill: var(--black);
    transition: all 0.3s ease;
}

.stack-img svg:hover,
.stack-img svg:hover rect,
.stack-img svg:hover path.hover-change,
.livewire svg:hover path.hover-change,
.php svg:hover .hover-change {
    fill: var(--purple);
    transition: all 0.3s ease;
}

.stack-img svg:hover path.hover-change-light {
    fill: #c7b7e7;
}

.stack-img svg:hover path.hover-change-dark {
    fill: #9683bb;
}


.stack-img figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 12px 0;
    /* background-color: var(--purple); */
    /* comment the above line out to test svgs */
}

.stack-img figcaption {
    color: var(--grey);
    text-transform: uppercase;
    font-size: 0.75rem;
    margin-top: 8px;
    text-align: center;
}

.slide {
    width: fit-content;
    padding: 0 24px;
}

.slide p,
.guidelines-caption,
p.gif-caption {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: var(--grey);
    font-style: italic;
    text-align: justify;
}

.slide a {
    display: block;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}

.slide a:hover,
a.page-img-link {
    cursor: zoom-in;
}

.slide img {
    width: 100%;
    margin: auto;
}

.slick-prev:before, .slick-next:before{
    color:var(--purple);
}

.project-gif {
    display: block;
    width: fit-content;
    margin: auto;
}

.two-img {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 12px;
    width: auto;
}

.page-img-link,
.page-img {
    display: block;
    width: 100%;
}

/* Give for Good page */

.gfg-logo {
    max-width: 100%;
    margin: auto;
    display: block;
}

.guidelines {
    display: flex;
    flex-direction: column;
    gap: 36px;
    font-family: Poppins, Roboto, Helvetica, Arial, sans-serif;
    color: #20212b;
    text-align: center;
    justify-content: space-between;
    margin: 18px 8px;
}

.elements li {
    margin-bottom: 12px;
}

li.h1,
li.h2,
li.h3 {
    font-weight: 600;
}

li.h1 {
    font-size: 50px;
}

li.h2 {
    font-size: 40px;
}

li.h3 {
    font-size: 34px;
}

li.g4g-p,
li.g4g-pa {
    font-size: 15px;
}

li.g4g-pa {
    color: #60637c;
}

.gfg-btns {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    width: fit-content;
    margin: 6px auto auto;
}

.gfg-btns div {
    color: #fff;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    width: fit-content;
    margin: auto;
    padding: 8px 16px;
    background-color: #fa575e;
}

div.gfg-btn-alt {
    background-color: #20212b;
}

.palette {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
    flex: 1 0 auto;
}

.palette div {
    min-height: 50px;
    width: calc(100% / 3 - 12px);
}

div.white {
    background-color: #fff;
}

div.light-grey {
    background-color: #f8fafe;
}

div.grey {
    background-color: #60637c;
}

div.black {
    background-color: #20212b;
}

div.pink {
    background-color: #f9e5e7;
}

div.red {
    background-color: #fa575e;
}

div.green {
    background-color: #2bc392;
}

div.yellow {
    background-color: #f7aa01;
}

div.purple {
    background-color: #9164bf;
}

/* Catalog project page */

p.features-title {
    font-weight: 600;
    color: var(--purple);
    font-size: 1.1rem;
    margin-bottom: 10px;
}

ul.features-list {
    list-style: circle;
}

.features-list {
    font-size: 1rem;
    color: var(--grey);
    margin-left: 36px;
    font-size: 0.95rem;
}

.features-list li {
    margin: 4px 0;
}

span.lg-feature {
    color: var(--light-grey);
    font-weight: 600;
}

/* eTools project page */

.orders-list span.highlight {
    font-weight: 600;
}

.orders-list,
.single-img ul {
    margin-bottom: 24px;
}

@media (max-width: 330px) {
    h1 {
        display: none;
    }
}

@media (min-width: 768px) {

    /* Header and footer styles */

    header {
        padding: 0 24px;
    }

    footer {
        padding: 18px 24px;
    }

    main {
        padding: 0 24px;
    }

    .mobile-menu {
        margin: 16px 0;
    }

    header img {
        width: 80px;
    }

    h1 {
        font-size: 1.75rem;
    }
    

    /* Homepage styles */

    .home-screen {
        font-size: 2.25rem;
    }

    /* About page styles */

    .my-info {
        flex-direction: row;
    }

    .my-info img {
        max-width: 500px;
    }

    /* Contact page styles */

    .contact-info {
        flex-direction: row;
    }

    .contact-info input {
        flex: 1 1 auto;
    }

    /* Projects page */

    .project-title {
        font-size: 2rem;
        padding: 0 12px;
        color: var(--white);
    }

    .project-title h3 {
        font-weight: 300;
    }

    .project:hover h3 {
        color: var(--white);
    }

    .project {
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 0;
        background-color: var(--purple);
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        transition: all 0.5s ease;
    }

    .project:nth-of-type(2),
    .project:nth-of-type(4) {
        flex-direction: row-reverse;
    }

    .project img {
        width: 50%;
    }

    .project:hover {
        background-color: var(--black);
    }

    .project-title {
        justify-content: center;
    }

    .project-summary {
        flex-direction: column;
    }

    .fa-plus-circle {
        display: none;
    }

    /* Project details page */

    .sidebar {
        position: fixed;
        color: var(--purple);
        padding: 0;
        margin: 0;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        flex-direction: column;
        gap: 8px;
    }

    .table {
        font-weight: 300;
        font-size: 0.95rem;
        width: fit-content;
        padding: 6px 48px 6px 24px;
        text-transform: uppercase;
    }

    .site-link a {
        margin-top: 8px;
    }
    
    .content {
        margin-left: 210px;
    }

    .dual-slides {
        height: fit-content;
    }

    .two-img {
        flex-direction: row;
        margin: 0 12px;
        align-items: stretch;
    }

    .two-img a {
        height: 300px;
        width: auto;
    }

    .two-img img {
        height: 100%;
        width: 100%;
        margin: auto;
        object-fit: contain;
    }


}

@media (min-width: 880px) {

    /* Homepage styles */
    header > div.container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
    }

    nav {
        display: block !important;
        margin: 0;
    }

    nav ul {
        display: flex;
        height: 100%;
    }

    nav li {
        border: 0;
        padding: 0;
        flex-shrink: 1;
    }

    nav li a {
        padding: 0 32px;
        height: 100%;
        display: flex;
        align-items: center;
        background-size: 100% 200%;
        background-image: linear-gradient(to bottom, var(--white) 50%, var(--purple) 50%);
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        transition: 0.5s;
    }

    nav li a:hover {
        background-color: var(--purple);
        color: white;
        background-position: 0 -100%;
    }

    .menu-btn {
        display: none;
    }

    /* Give for Good page */

    .guidelines {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    

} 

@media (min-width: 1024px) {

    /* Homepage styles */

    h1 {
        font-size: 2rem;
    }

    .home-screen {
        font-size: 2.5rem;
    }

    .home-screen p:first-of-type {
        margin: 120px 0 0 0;
    }

    main {
        padding: 0;
    }

    /* Give for Good page */

    .gfg-logo {
        width: 600px;
        margin-bottom: 24px;
    }

    .vertical-slides .slide img {
        max-height: 700px;
        height: auto;
        max-width: 100%;
        width: auto;
        margin: auto;
        object-fit: contain;
    }

    /* eTools project page */

    .small-img {
        width: 600px;
        margin: auto;
    }

}

@media (min-width: 1280px) {

    /* Contact Page */

    form {
        margin: 48px 0;
    }

    form textarea {
        height: calc(1.15*16px*7);
    }

    /* Projects page */

    .project-title {
        font-size: 3rem;
    }

}